 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
 body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   line-height: 1.5;
   color: #595959;
   padding-top: 30px;
 }

 a {
   color: #080808;
   text-decoration: none;
   padding-bottom: 8px;
   border-bottom: 4px solid #080808;
 }

 b {
   font-weight: bold;
   color: #080808;
 }

 p {
   margin: 20px 0;
 }

 a[aria-current='page'], a.no-border {
   border: none;
 }

 .gifffer-play-button:hover:before {
   top: -5px;
   background: #00ffd5;
 }

 .gifffer-play-button:hover:after {
   bottom: -5px;
   background: #eeff00;
 }

 .gifffer-play-button:hover div:after {
   right: -25px;
   background: #ff007d;
 }

 .gifffer-play-button:hover div:before {
   left: -44px;
   background: #004aff;
 }

 .gifffer-play-button:before {
   transition: all 200ms ease;
   content: '';
   background: #080808;
   width: 60px;
   height: 5px;
   position: absolute;
   left: 0;
   top: 0px;
   display: block;
   z-index: -1;
 }

 .gifffer-play-button:after {
   transition: all 200ms ease;
   content: '';
   background: #080808;
   width: 60px;
   height: 5px;
   position: absolute;
   left: 0;
   bottom: 0;
   display: block;
   z-index: -1;
 }

 .gifffer-play-button div:after {
   transition: all 200ms ease;
   content: '';
   background: #080808;
   width: 5px;
   height: 60px;
   position: absolute;
   top: -30px;
   right: -20px;
   display: block;
   z-index: -1;
 }

 .gifffer-play-button div:before {
   transition: all 200ms ease;
   content: '';
   background: #080808;
   width: 5px;
   height: 60px;
   position: absolute;
   top: -30px;
   left: -39px;
   display: block;
   z-index: -1;
 }

 .gifffer-play-button:hover div {
   opacity: 1 !important;
 }
